{% extends 'base.html' %}
{% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'main' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">My Profile</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                
            </ul>
        </nav>
        Hello {{user}}
    </header>
    <main>
        <form method="post" action="add">
            {% csrf_token %}

           
            <label for="semester" id="semester" >Semester</label>
            <select name="semester" id="semester">
                {% for i in '12345678'|make_list %}
                    
                    <option value="{{i}}" >{{i}}</option>
                    
                {% endfor %}
                
            </select>
            <br>

            <label for="subject_name">Subject</label>
            <input type="text" name="subject_name" id="subject_name" /><br/>
            
            <label for="marks">Marks</label>
            <input type="number" name="marks" id="marks" min="0" max="100"><br/>
            <button type="submit" name="add" id="add" />Add</button>
        </form>
    </main>
    <footer>
            
    </footer>
{% endblock %}