{% extends 'base.html' %}
{% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="main">Home</a></li>
                <li><a href="profile">My Profile</a></li>
                <li><a href="logOut">Log Out</a></li>
                
            </ul>
        </nav>
        Hello {{user}}
    </header>
    <main>
        {% for message in messages %}
            {{message}}
        {% endfor %}
        <div>
            <h1>Profile</h1>
            <form method="post" action="edit">
                {% csrf_token %} 
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name" value="{{details.first_name}}" ><br>

                <label for="last_name">Last name</label>
                <input type="text" name="last_name" id="last_name" value="{{details.last_name}}"><br/>

                <label for="username">User Name</label>
                <input type="text" name="username" id="username" value="{{details.username}}"><br/>

                <label for="email">email</label>
                <input type="email" name="email" id="email" value="{{details.email}}"><br/>

                <button type="submit" name="update" id="update">update</button>
<!---->
            </form>
            <h1>Additional Info</h1>
            <form action="additionalInfo" method="post" enctype= multipart/form-data>
                {% csrf_token %}<!---->
                <label for="Department" >Department</label>
                <input type="text" list="DepartmentList" id="Department" name="Department" required autocomplete="off">
                <datalist id="DepartmentList">
                    {% for department in departments%}
                        <option value="{{department.id}}">{{department.name}}</option>
                    {% endfor %}
                </datalist>
                <br>

                <label for="semester">Semester</label>
                <select name="current_semester" id="semester" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <br>
                <input type="number" name="user" value="{{request.user.id}}" required hidden>
                <button type="submit">Submit</button>

            </form>
        </div>
    </main>
    <footer>
    </footer>
{% endblock %}