{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="main">Home</a></li>
                <li><a href="profile">My Profile</a></li>
                <li><a href="logOut">Log Out</a></li>
                
            </ul>
        </nav>
        Hello {{user}}
    </header>
    <main>
    <script>
    function confirmation(){
    document.getElementById('confirmation').innerHtml="Are you sure you want to delete the record?Yes/No";
}
</script>
        <a href="add">Add</a><br/>
        <table border="1">
        <tr>
            <th>
                No.
            </th>
            
            <th>
                Semester
            </th>
            <th>
                Subject
            </th>
            <th>
                Marks
            </th>
            <th>
                Action
            </th>
        </tr>
        {% for datum in data %}
        <tr>
            <td>
                {{forloop.counter}}
            </td>
            <td>
            {{datum.semester}}
            </td>
            <td>
                {{datum.subject_name}}
            </td>
            <td>
                {{datum.marks}}
            </td>
            <td>
                <span  onclick="confirmation({{datum.id}});">delete</span>/<a href="edit_marks/{{datum.id}}">edit</a>
            </td>
        </tr>
        {% endfor %}
        </table>
        
        <div id="confirmation">

        </div>
        {% for message in messages%}
            {{message}}
        {% endfor %}
    </main>
    <footer>
        <a href="#">Home</a>
    </footer>
    <script src="{% static 'js/index.js' %}"></script>

{% endblock %}