{% extends 'base.html' %}
{% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="logOut">Log Out</a></li>
                    
                {% else %}
                    <li><a href="signUp">Sign Up</a></li>
                    <li><a href="logIn">Log In</a></li>
            
                {% endif %}
            </ul>
        </nav>
        Hello {{user}}
    </header>
    <main>
        <a href="add">Add</a><br/>
        <table border="1">
        <tr>
            <th>
                No.
            </th>
            
            <th>
                Semester
            </th>
            <th>
                Subject
            </th>
            <th>
                Marks
            </th>
        </tr>
        {% for datum in data %}
        <tr>
            <td>
                {{forloop.counter}}
            </td>
            <td>
            {{datum.semester}}
            </td>
            <td>
                {{datum.subject_name}}
            </td>
            <td>
                {{datum.marks}}
            </td>
        </tr>
        {% endfor %}
        </table>

        {% for message in messages%}
            {{message}}
        {% endfor %}
    </main>
    <footer>
            <nav>
                <ul>
                <li><a href="#">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="logOut">Log Out</a></li>
                
                {% else %}
                    <li><a href="signUp">Sign Up</a></li>
                    <li><a href="logIn">Log In</a></li>
                {% endif %}
                 </ul>
            </nav>
    </footer>

{% endblock %}