{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="main">Home</a></li>
                <li><a href="profile">My Profile</a></li>
                <li><a href="myInfo">My Info</a></li>
                <li><a href="logOut">Log Out</a></li>
                
            </ul>
        </nav>
        Hello {{user}}
    </header>
    <main>
        <div>
            <table border=2>
            <tr>
            <td>First Name</td><td>{{details.first_name}}</td>
            </tr>
            <tr>
            <td>Last Name</td><td> {{details.last_name}}</td>
            </tr>
            <tr>
            <td>User Name</td><td>{{details.username}}</td>
            </tr>
            <tr>
            <td>Email</td><td>{{details.email}}</td>
            </tr>
            <tr>
            <td>Department</td> <td></td>
            </tr>
            <tr>
            <td>Semester</td><td> </td>
            </tr>
            </table>
            <a href="edit">Edit</a>
        </div>
        
        {% for message in messages%}
        <span class="{{message.tags}}">{{message}}</span>
        
        {% endfor %}

        


    </main>
    
    <footer>
    </footer>
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}